<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="all">
            <file>tests/ConnectionTest.php</file>
            <file>tests/AuthTest.php</file>
            <file>tests/QueryTest.php</file>
            <file>tests/ModelTest.php</file>
            <file>tests/ArgsParametersTest.php</file>
            <file>tests/EmbeddedRelationsTest.php</file>
            <file>tests/QueryBuilderTest.php</file>

<!--            <file>tests/PaginationTest.php</file>-->

<!--            Investigate-->
<!--            <file>tests/InlineParametersTest.php</file>-->

<!--            Failing and Needs Work-->
<!--            Hybrid Relations needs review-->
<!--            <file>tests/MysqlRelationsTest.php</file>-->
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
